/**
 * Imports :
 */
/**
 * Import grid settings :
 * This to be able to use gridle mixins, etc...
 */
/* line 51, ../scss/gridle/_silent-classes.scss */
.gridle-debug #myCoolItem, #myCoolItem.gridle-debug {
  background-size: 50px 90%;
  background-position: 0 50%;
  background-repeat: repeat-x;
}

/* line 56, ../scss/gridle/_silent-classes.scss */
#myCoolItem {
  position: relative;
}

/* line 72, ../scss/gridle/_silent-classes.scss */
.gridle-debug #myCoolItem, #myCoolItem.gridle-debug {
  background-color: #daeff5;
}
/* line 73, ../scss/gridle/_silent-classes.scss */
.gridle-debug #myCoolItem:before, #myCoolItem.gridle-debug:before, .gridle-debug #myCoolItem:after, #myCoolItem.gridle-debug:after {
  content: "";
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowRkEzNzVFNTg1NjgxMUUyOUI4RjhEMzg4QzM4QjZFOCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowRkEzNzVFNjg1NjgxMUUyOUI4RjhEMzg4QzM4QjZFOCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjBGQTM3NUUzODU2ODExRTI5QjhGOEQzODhDMzhCNkU4IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjBGQTM3NUU0ODU2ODExRTI5QjhGOEQzODhDMzhCNkU4Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8++5+BhQAAAA9JREFUeNpiYGBgkAIIMAAAHwAbZIBtGgAAAABJRU5ErkJggg==);
  margin: 10px 0;
  padding: 5px 0;
  text-align: center;
  color: white;
  font-size: 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block !important;
}

/* line 90, ../scss/gridle/_silent-classes.scss */
#myCoolItem {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * Map set
 *
 * @param 	Map 	$map 		The map to use
 * @param 	String 	$key 		The key to update
 * @param 	Mixed 	$value 		The new value
 * @return 	Map 			The new map
 */
/**
 * Get the column width in percent for the global or a specific context
 *
 * @param 	int 		$columns 					The number of columns to calculate
 * @param 	int 		$context : $gridle-columns-count 	 	The context to use
 * @return 	percentage 							The width in percent
 */
/**
 *  Get a state map
 *
 * @param 	string 		$name 		The name of the state to get
 * @return 	map 				A state map object
 */
/**
 * Check if a state exist :
 *
 * @param 	string 		$name 		The name of the state to check
 * @return 	Boolean 			true is exist
 */
/**
 * Get the media queries variables :
 *
 * @param 	int 		$index 	 	The media query indes
 * @param 	String 		$var 		The media query variable name
 * @return 	String|int 			The variable value
 */
/**
 * Get a variable
 *
 * @param 	String 		$varName 				The variable name
 * @param  	String 		$stateMap-or-stateName 	 	The state name or a map state value
 * @return 	Mixed 							The finded value
 */
/**
 * Set a variable in a state
 * @param 	Mixed $stateName-or-stateIndex 	The state name of state index
 * @param  	String $var                    		Variable name to assign
 * @param  	Mixed $newValue          		The new value to assign
 * @return 	List                         			The states list (full)
 */
/**
 * Generate a column
 *
 * @param 	String 		$name 			The column name (often count)
 * @param 	int 		$columns 		The column count that the column will take
 * @param 	int 		$context 		The context on witch the with will be calculed
 * @param 	Boolean 	$generateClasses 	Set if the column has to be generated in css
 */
/**
 * Generate classname
 *
 * @param 	List 		$parrern 	The pattern to use to generate classname
 * @param 	String 		$state 		The state
 * @param 	int 		$count 		The column count
 */
/**
 * Get the media query for a particular state, or with, etc...
 *
 * @param 	Mixed 		$state-or-min-width 		The state name of the min with
 * @param 	Mixed 		$max-width 			The max width if first param is a min width
 * @return 	String 						The media query string without the @media
 */
/**
 * Get states count
 * 
 * @return 	int 	The number of states defined
 */
/**
 * Setup
 */
/**
 *  Register a clear each class
 */
/**
 * Register a special class
 */
/**
 * Register default states
 */
/**
 * Register default mobile first states :
 */
/**
 * Set the debug device (not used for now)
 * 
 * @param 	String 		$state 		The state to update
 * @para m 	String 		$device 	The device to use (iphone, etc...)
 */
/**
 * Parent clear each
 */
/**
 * Vertical align :
 */
/**
 * Show inline
 *
 * @param 	String 		$state 		The state name
 */
/**
 * Generate a custom class for all the states
 *
 * @param 	list 	$pattern 		The name pattern of the class
 * @param 	list 	$statesNames 		The states names to generate
 */
/**
 * Medias :
 */
/* line 15, ../scss/style.scss */
ul#medias {
  background: black;
  text-align: center;
  margin-bottom: 30px;
}
/* line 20, ../scss/style.scss */
ul#medias li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 0;
}
/* line 30, ../scss/style.scss */
ul#medias li.active, ul#medias li:hover {
  background: white;
  color: black;
}
/* line 149, ../scss/gridle/_mixins.scss */
html.default ul#medias {
  display: none;
}
@media screen and (max-width: 620px) {
  /* line 15, ../scss/style.scss */
  ul#medias {
    display: none;
  }
}

/**
 * Basic formatting :
 */
/* line 47, ../scss/style.scss */
html {
  font: 11px/1.5 'Helvetica Neue', Verdana, sans-serif;
}

/* line 116, ../scss/gridle/_mixins.scss */
html.mobile body {
  text-align: center;
}
@media screen and (max-width: 480px) {
  /* line 50, ../scss/style.scss */
  body {
    text-align: center;
  }
}
/* line 116, ../scss/gridle/_mixins.scss */
html.tablet body {
  text-align: center;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  /* line 50, ../scss/style.scss */
  body {
    text-align: center;
  }
}
/* line 116, ../scss/gridle/_mixins.scss */
html.ipad-landscape body {
  font-size: 16px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 50, ../scss/style.scss */
  body {
    font-size: 16px;
  }
}

/**
 * Gridle set sample :
 */
/* line 64, ../scss/style.scss */
#myCoolItem {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
  width: 66.66667%;
  left: 16.66667%;
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 149, ../scss/gridle/_mixins.scss */
html.default #myCoolItem {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 149, ../scss/gridle/_mixins.scss */
html.mobile #myCoolItem {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 480px) {
  /* line 64, ../scss/style.scss */
  #myCoolItem {
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* line 149, ../scss/gridle/_mixins.scss */
html.tablet #myCoolItem {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  /* line 64, ../scss/style.scss */
  #myCoolItem {
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* line 149, ../scss/gridle/_mixins.scss */
html.ipad-landscape #myCoolItem {
  float: left;
  direction: ltr;
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 64, ../scss/style.scss */
  #myCoolItem {
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 116, ../scss/gridle/_mixins.scss */
html.default #myCoolItem {
  width: 66.66667%;
}
/* line 226, ../scss/gridle/_mixins.scss */
.gridle-debug html.default #myCoolItem:before, html.default #myCoolItem.gridle-debug:before {
  content: "grid-default-8";
}
/* line 233, ../scss/gridle/_mixins.scss */
.gridle-debug html.default #myCoolItem.parent:before, html.default #myCoolItem.gridle-debug.parent:before {
  content: "grid-parent-default-8";
}
/* line 226, ../scss/gridle/_mixins.scss */
.gridle-debug #myCoolItem:before, #myCoolItem.gridle-debug:before {
  content: "grid-default-8";
}
/* line 233, ../scss/gridle/_mixins.scss */
.gridle-debug #myCoolItem.parent:before, #myCoolItem.gridle-debug.parent:before {
  content: "grid-parent-default-8";
}
/* line 67, ../scss/gridle/_common-mixins.scss */
.gridle-debug #myCoolItem, #myCoolItem.gridle-debug {
  background-color: #f4efdf !important;
}
/* line 116, ../scss/gridle/_mixins.scss */
html.default #myCoolItem {
  left: 16.66667%;
}
/* line 283, ../scss/gridle/_mixins.scss */
.gridle-debug html.default #myCoolItem:after, html.default #myCoolItem.gridle-debug:after {
  content: "push-default-2";
}
/* line 283, ../scss/gridle/_mixins.scss */
.gridle-debug #myCoolItem:after, #myCoolItem.gridle-debug:after {
  content: "push-default-2";
}
/* line 149, ../scss/gridle/_mixins.scss */
html.default #myCoolItem {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 149, ../scss/gridle/_mixins.scss */
html.mobile #myCoolItem {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 480px) {
  /* line 64, ../scss/style.scss */
  #myCoolItem {
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* line 149, ../scss/gridle/_mixins.scss */
html.tablet #myCoolItem {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  /* line 64, ../scss/style.scss */
  #myCoolItem {
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* line 149, ../scss/gridle/_mixins.scss */
html.ipad-landscape #myCoolItem {
  float: left;
  direction: ltr;
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 64, ../scss/style.scss */
  #myCoolItem {
    float: left;
    direction: ltr;
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 116, ../scss/gridle/_mixins.scss */
html.tablet #myCoolItem {
  width: 100%;
}
/* line 226, ../scss/gridle/_mixins.scss */
.gridle-debug html.tablet #myCoolItem:before, html.tablet #myCoolItem.gridle-debug:before {
  content: "grid-tablet-12" !important;
}
/* line 233, ../scss/gridle/_mixins.scss */
.gridle-debug html.tablet #myCoolItem.parent:before, html.tablet #myCoolItem.gridle-debug.parent:before {
  content: "grid-parent-tablet-12" !important;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  /* line 64, ../scss/style.scss */
  #myCoolItem {
    width: 100%;
  }
  /* line 226, ../scss/gridle/_mixins.scss */
  .gridle-debug #myCoolItem:before, #myCoolItem.gridle-debug:before {
    content: "grid-tablet-12" !important;
  }
  /* line 233, ../scss/gridle/_mixins.scss */
  .gridle-debug #myCoolItem.parent:before, #myCoolItem.gridle-debug.parent:before {
    content: "grid-parent-tablet-12" !important;
  }
}
/* line 67, ../scss/gridle/_common-mixins.scss */
.gridle-debug #myCoolItem, #myCoolItem.gridle-debug {
  background-color: #f4efdf !important;
}
/* line 116, ../scss/gridle/_mixins.scss */
html.tablet #myCoolItem {
  left: 0%;
}
/* line 283, ../scss/gridle/_mixins.scss */
.gridle-debug html.tablet #myCoolItem:after, html.tablet #myCoolItem.gridle-debug:after {
  content: "push-tablet-0" !important;
}
@media screen and (min-width: 481px) and (max-width: 1024px) {
  /* line 64, ../scss/style.scss */
  #myCoolItem {
    left: 0%;
  }
  /* line 283, ../scss/gridle/_mixins.scss */
  .gridle-debug #myCoolItem:after, #myCoolItem.gridle-debug:after {
    content: "push-tablet-0" !important;
  }
}
/* line 116, ../scss/gridle/_mixins.scss */
html.mobile #myCoolItem {
  visibility: hidden;
}
@media screen and (max-width: 480px) {
  /* line 64, ../scss/style.scss */
  #myCoolItem {
    visibility: hidden;
  }
}
