<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Tweaklab Raspi Cloner</title>
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="main.css" rel="stylesheet">

  </head>
  <body>
    <div class="wrapper" id="app">
      <div class="navBar">
        <a href="http://nonoradio.net" target="_blank">NoNoRadio.net</a>
        <a href="#">Documentation</a>
        <!-- <a href="#">Recordings</a> -->
      </div>
      <div class="innerWrapper">
        <!-- <img src="logo.jpg" id="logo"> -->
        <div class="top">
          <stream-form v-if="!state.store.hasErrorItems && state.store.streamLink == ''">
          </stream-form>
        </div>

        <div class="bottom">
          <error-list class="errorList" v-if="state.store.hasStatusItems"></error-list>

          <div class="buttons">

            <div class="box">
               <div id="streamLink">
                <div v-if="state.store.streamLink">
                  <p class="streamLinkTop">I am streaming</p>
                  <p class="streamLinkBottom">{{{ state.store.streamLink }}}</p>
                </div>
              </div>
              <stream-button v-if="state.store.streamLink == ''">
              </stream-button>
              
              <test-button v-if="state.store.hasStatusItems && state.store.streamLink == ''">
              </test-button>
            </div>

          </div>

          <download-list></download-list>

        </div>
      </div>
    </div>

    <div id="templates">

      <div id="errorListTemplate">
        <div class="box header">
          <h1>Status</h1>
        </div>

        <ul class="box" v-if="state.statusListLoading">
          <li >
            <p>Loading...</p>
          </li>
        </ul>

        <ul class="box" v-if="!state.statusListLoading">
          <li v-repeat="state.store.statusList" class="innerBox" v-class="class">
            <div class="innerGradientBox">
            <i class="icon" v-class="icon"></i>
            <p v-text="message"></p>  
          </div>
          </li>
        </ul>
      </div>

      <div id="streamFormTemplate">
        <div class="box header">
          <h1>Configuration</h1>
        </div>
         <form id="streamForm" v-class="formClass" class="box" v-on="keyup: testForm">
              <fieldset>
              <div class="field innerBox">
                  <div class="innerGradientBox">
                    <label for="name">Name</label>
                    <input id="name" v-model="state.formData.name.value" v-class="name.class" required type="text" name="name">
                    <i class="icon icon-cross_mark" v-class="valid: state.formData.name.isValid"></i>
                  </div>
              </div>
              <div class="field innerBox">
                <div class="innerGradientBox">
                  <label for="description">Description</label>
                  <input v-class="description.class" v-model="state.formData.description.value" required type="text" name="description">
                  <i class="icon icon-cross_mark" v-class="valid: state.formData.description.isValid"></i>
                  </div>
                </div>
              <div class="field innerBox">
                  <div class="fieldInner innerGradientBox">
                <label for="url">URL</label><input v-class="url.class" v-model="state.formData.url.value" required type="url" name="url">
                <i class="icon icon-cross_mark" v-class="valid: state.formData.url.isValid"></i>
              </div>
                  </div>
             <div class="field innerBox">
                <div class="fieldInner innerGradientBox">
                  <label for="genre">Genre</label><input v-class="genre.class" v-model="state.formData.genre.value" type="text" name="gerne">
                  <i class="icon icon-cross_mark" v-class="valid: state.formData.genre.isValid"></i>
                </div>
              </div>
            </fieldset>
          </form>
      </div>

      <div id="streamButtonTemplate">
        <a class="button good" v-class="disabled: !state.isValidForm && !state.store.hasErrorItems" v-on="click: runStream">
          <span v-class="spanClass" v-text="spanText"></span> {{ 'Stream'|uppercase }}
        </a>
      </div>

      <div id="testButtonTemplate">
        <a class="button bad" v-class="class" v-on="click: rerunTests">
          <span v-class="spanClass" v-text="spanText"></span> {{ 'Run Tests'|uppercase }}
        </a>
      </div>

      <div id="downloadTemplate">
        <div class="box header">
          <h1>Recordings</h1>
        </div>
        <div class="box">
          <div class="innerBox">
            <ul class="innerGradientBox downloads">
              <li v-repeat="state.store.fileList">
                <span class="icon icon-cross_mark" v-class="red: confirmations[$value]" v-on="click: deleteFile($value)"></span>
                  <a data-bla="confirmations[$value]" class="" href="download/{{ $value }}" target="_blank">{{ $value }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed
    <script src="bootstrap.min.js"></script> -->
    <script src="vue.js"></script>
    <script src="plite.js"></script>
    <script src="superagent.js"></script>
    <script type="text/javascript" src="lodash.js"> </script>
    <script src="main.js"></script>
    

  </body>
</html>